<?xml version="1.0" standalone="no"?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">CUPS-PDF @ %h</name>
  <service protocol="ipv4">
    <type>_ipp._tcp</type>
    <subtype>_universal._sub._ipp._tcp</subtype>
    <port>631</port>
    <txt-record>txtvers=1</txt-record>
    <txt-record>qtotal=1</txt-record>
    <txt-record>rp=printers/PDF</txt-record>
    <txt-record>ty=CUPS-PDF Virtual Printer</txt-record>
    <txt-record>note=PDF Virtual Printer</txt-record>
    <txt-record>product=(CUPS-PDF)</txt-record>
    <txt-record>Color=T</txt-record>
    <txt-record>Duplex=F</txt-record>
    <txt-record>Copies=T</txt-record>
    <txt-record>pdl=application/pdf,application/postscript,application/vnd.cups-pdf,image/jpeg,image/png,text/plain</txt-record>
    <txt-record>URF=W8,SRGB24,CP1,RS600</txt-record>
  </service>
</service-group>